@model IEnumerable<TestExamenWeb.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Student)</th>
            <th>@Html.DisplayNameFor(model => model.First().SubmissionDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().TheoryScore)</th>
            <th>@Html.DisplayNameFor(model => model.First().PracticalScore)</th>
            <th>@Html.DisplayNameFor(model => model.First().PresentationScore)</th>
            <th>@Html.DisplayNameFor(model => model.First().TotalGrade)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_ProjectRow" model="item" />
        }
    </tbody>
</table>